*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/google-services.json
*.apk
*.ap_
*.class
bin/
gen/
local.properties
Thumbs.db
*.iml
.idea
.gradle